$bigh1: 50px;
$bigtext: 36px;
* {
    margin: 0;
    padding: 0;
}


.marcus_img img{
    width: 300px!important;
}

.marcus_img {
    text-align: center;
}

.marcus_img p {
    font-size: 25px;
}

.ul_main {
    display: flex;
    margin-top: 20px;
}

.big_h1 {

    font-size: $bigh1;
}

.big_text {
    font-size: $bigtext;
}

.px_600 {
    height: 600px;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big_p{
    font-size: 24px;
}

.nav-link:hover {
    color: white;
}

.dnone {
    display: none!important;
}

a:hover {
    color: white;
}

.mobile-windows img {
    width: 100%;
    margin-top: 50px;
}


    @media (min-width: 768px) {
      .mobile-windows {
        display: none;
      }
    }

    @media (max-width: 767px) {
      .desktop-windows {
        display: none;
      }
    }
